<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>{{title}} | {{siteTitle}}</title>
  <meta name="description" content="{{ifnull description siteDesc}}">
  <meta name="keywords" content="{{ifnull tags siteTags}}">
  <meta name="viewport" content="initial-scale=1.0,user-scale=no">
  <meta name="robots" content="index,follow">
  {{#if siteIcon}}
    <link rel="shortcut icon" type="image/png" href="./img/fav.png">
  {{/if}}
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
{{> header}}
<article id="photo-list" class="container">
  <header>
    <h1>{{title}}</h1>
    <p class="lead">{{description}}</p>
  </header>
  <ul class="album" id="container">
    {{#flexGrid album}}
    <li style="flex:{{size.flex}};height:{{size.height}}px">
      <a href="{{src}}" data-description="{{description}}" style="background-image: url({{src}});" title="{{title}}">
        <img src="{{src}}" alt="{{title}}" data-origin-width="{{width}}" data-origin-height="{{height}}">
      </a>
    </li>
    {{#if isLast}}
    <li class="blank-line"></li>
    {{/if}}
    {{/flexGrid}}
  </ul>
  <footer>
    <small class="text-muted">
      Create at: <time datetime="{{toDate createTime}}">{{toDate createTime}}</time> |
      Modified at: <time datetime="{{toDate lastModifiedTime}}">{{toDate lastModifiedTime}}</time>
    </small>
  </footer>
</article>
{{> footer}}
</body>
</html>