<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>{{siteTitle}}</title>
  <meta name="description" content="{{siteDesc}}">
  <meta name="keywords" content="{{siteTags}}">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
  <meta name="robots" content="index,follow">
  {{#if siteIcon}}
    <link rel="shortcut icon" type="image/png" href="{{siteIcon}}">
  {{/if}}
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
  {{> header}}
  <div id="gallery" class="container">
    <div id="home-gallery" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {{#top articles 5}}
        <li data-target="#home-gallery" data-slide-to="{{@index}}" {{#if @first}}class="active"{{/if}}></li>
        {{/top}}
      </ol>
      <div class="carousel-inner" role="listbox">
        {{#top articles 5}}
        <div class="carousel-item {{#if @first}}active{{/if}}" style="background-image: url({{thumbnail}})">
          <h2>{{title}}</h2>
          <p class="lead">{{description}}</p>
          <a href="{{#if url}}{{url}}{{else}}{{id}}{{/if}}.html" class="view">View Gallery</a>
        </div>
        {{/top}}
      </div>
    </div>
  </div>
  {{> footer}}
<script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>